html {
  height: 100%;
  margin:0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
      "header header header"
      "nav article stocks"
      "footer footer footer";
    grid-template-rows: 90px 1fr minmax(100px, auto);
    grid-template-columns: 22px 1fr 175px;
    row-gap: 0px;
    column-gap: 0px;
    margin: 0px;
    }

    h3 {
      margin-top: 0px;
      text-align: center;
     }
    h2 {
      text-align: center;
      padding-top: 20px;
      margin:2px;
     }    

  footer, article, nav, stocks {
    background: #EAEAEA; 
    }
  #pageHeader {
    grid-area: header;
    position: sticky;
    display: grid;
    grid-template-areas:
    "banner"
    "login";
    grid-template-rows: 80px 60px;
    top: 0;
    height:140px;
    z-index: 1;
    background-image: url('/images/harvest4a.jpeg');
    background-size:100% 140px;
    background-position: top;
    background-repeat:no-repeat;
    border-bottom: 3px solid #cddbcd;
    }

    .banner {
      grid-area: banner;
      position:relative;
      top:0px;

    }
  .login { 
    grid-area: login;
    padding-top: 7px;
    }
  .name_logout {
    position: relative;
    font-family: monospace;
    color: black;
    background-color: #ffd702b2;
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;    
  }
  .logo {
    font-size: xx-large;
    background-color: #cfd4ee4d;
    border-radius: 12px;
    color: #0e3737;
    font-weight: bold;
    text-align: center;
  }

  .stocking:hover {background-color: #97b497;}


 #pageFooter {
    padding-top: 5px;
    grid-area: footer;
    background: #c6d2c6;
    text-align: center;
    border-top:2px solid burlywood;
    align-content: center;
    }

 #mainArticle {
    grid-area: article;
    min-height: 500px;
    padding-bottom: 45px; 
    padding-right: 8px;
    padding-top: 40px;
    position: relative;
    }
  #mainNav {
    grid-area: nav;
    }
  #stocks {
    grid-area: stocks;
    display: grid;
    grid-template-areas:
    "stock_main"
    "stock_movs";
    grid-template-rows: 260px 100px;
    background-color: #EAEAEA;
    gap: 3rem;
    padding:8px;
    padding-bottom: 45px;
   }


    .stock_main {
      position: sticky;
      display:grid;
      grid-area: stock_main;
      grid-template-areas: 
        "title"
        "items";
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      top:162px;
      height: 290px;
      border-radius: 5px;
      background-color: #e2eae2c9;
      border: 2px solid rgba(0, 0, 255, 0.565);
      row-gap: 2px;
    }
  
    .title{
      border-bottom: 2px solid rgba(0, 0, 255, 0.565); 
      height:auto;
      font-size: medium; 
      font-family: monospace;
      padding: 1px; 
      text-align: center;
      align-self: center;
    }
    .items{
      grid-area: items;
      display: grid;
      grid-template-columns: auto;
      height: auto;
      text-align: left;
      padding-left: 3px;
    }

    .item_pekan{
      padding: 20px;
      font-size: 11px;
      height: auto;
    }

    .grid_main_public {
      display: grid;
      grid-template-areas:
      "header_flex"
      "article2";
      grid-template-rows: auto 1fr;
      gap: 1rem;
    }
  
    header_flex, article2 {
      padding: 0px;
      background: rgb(205, 219, 205);
      }

      #publicHeaderFlex {
        grid-area: header_flex;
        padding-top: 1px;
        padding-bottom: 5px;
        height: fit-content;
        }
      #publicArticle {
      grid-area: article2;
      padding-bottom: 15px;
      }

      #publicArticleHome {
        grid-area: article2; 
        display: grid;
        grid-template-areas:
          "intro links"
          "intro destacados"
          "intro new"
          "jornadas clima";
        grid-template-rows: 10% minmax(70px, auto) minmax(50px, auto) 1fr;
        grid-template-columns: 50% 1fr;
        gap: 15px;
        padding: 0px;
        }

        #publicArticleHome > div {
          background-color: rgba(128, 128, 128, 0.084);
          text-align:center;
          padding: 10px 0;
          border:1px solid teal;
          border-radius: 5px;
        }

        .intro { grid-area: intro; }
        .links { grid-area: links; }
        .destacados { grid-area: destacados; }
        .new { grid-area: new; }
        .jornadas { grid-area: jornadas; }
        .clima { grid-area: clima; }  

    .grid_publicaciones_offset {
      display: grid;
      grid-template-areas:
      "publicaciones"
      "offset";      
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 30px;
      gap: 10px;
      border: 2px solid teal;
      border-radius: 12px;
      padding: 8px;
    }
    .publicaciones {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 10px;
      padding: 8px;
    }
    .offset {
      text-align: center;
    }
    .publicaciones > div {
      border: 2px solid lightgrey;
      background: #EDE7F6;
      padding: 1rem;
      border-radius: 10px;
      border: 1px solid grey;
    }
    .grid_publicaciones {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 10px;
      border: 2px solid teal;
      border-radius: 12px;
      padding: 8px;
    }
    .grid_publicaciones > div {
      border: 2px solid lightgrey;
      background: #EDE7F6;
      padding: 1rem;
      border-radius: 1rem;
    }
  .grid_publicaciones > div:hover {
    border-color:#469346;
  }

  .grid_publicaciones > div.disabled:hover {
    border-color:gray;
    /*cursor: pointer;*/
  }

  .movs_alta {border:2px solid chocolate;} 
  .movs_baja {border:2px solid green;}


  .f_login {
    font-size: 16px;
    background: #1a181878;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: max-content;
    color: white;
    font-family: monospace;
    top: 10px;
    position: relative;
    border-radius: 12px;
  }

  .select1, .select2, .input1, .input_area, .btn1 {
    padding: 5px 15px;
    border:  2px solid darkgray;
    border-radius: 12px;
    background-color: #EBF0EF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
  }
  
  .s_hov:hover {
    border-color: #469346;
}


  .select1{
    height: 28px;
    width: 150px;
    padding: 0px 7px;
  }
  .select2 {
    height: 82px;
    width: 180px;
    padding: 2px 2px;
    }
  
  .input1 {
    width: 120px;
    height: 19px;
    padding: 2px 2px;
  }
  .input_l {width: 128px;}
  .input_m {width: 73px;}
  .input_s {width: 40px;}
  .input_busca {
    width: 100px;
    border: 0px;
    background-color: transparent;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
  }
  .input_busca:focus{
    outline: none;
}
  .input_area{
    resize: none;
    padding: 2px 2px;
  }
  .btn1 {
    width: 75px;
    height: 28px;
    padding: 4px 4px;
  }

  .table_forms {
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 9px;
  }
  .td_form_cols {width:10%;}

  .td_find {
    border-radius: 15px;
    border: 2px solid #97b497;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #c6d2c6ae;
    text-align: center;
    }
    .td_find:hover {border-color: #469346;}


    .tr_variedades {background-color:gainsboro;}


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    height:33px;
    width: max-content;
    background-color: #1b2b117d;
  }
  
  li { float: left; }
  
  li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 8px 14px;
    font-size: 16px;
    color: #f8fffc;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #73c97187;
  }
  
  li.dropdown {
  height:fit-content;
  display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(198, 210, 198, 0.929);
    min-width: 160px;
    z-index: 1;
    padding-top: 5px;
  }
  
  .dropdown-content a {
    color: #1c2e2e;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #a5e4a5;}
  
  .dropdown:hover .dropdown-content {display: block;}

  .t_buscador {
    padding-top: 2px;
  }


  /* acordion*/
.accord {display: none;}

.acc_label {
  display: flex;
  padding: 5px 10px;
  margin: 0 0 1px 0;
  cursor: pointer;
  background: #457363;
  border-radius: 10px;
  color: #FFF;
  transition: ease .3s;
  max-width: 414px;
  justify-content: space-between;
}

.acc_label:hover {background: #4E8774;}

.acc_content {
  background: #E2E5F6;
  border: 1px solid #A7A7A7;
  margin: 0 0 1px 0;
  border-radius: 3px;
  max-width: 433px;
}

.accord + .acc_label + .acc_content {display: none;}

.accord:checked + .acc_label + .acc_content {display: block;}



  /* Stack the layout on small devices/viewports. */
  @media all and (max-width: 575px) {
    body {
      grid-template-areas:
        "header"
        "stocks"
        "article"
        "nav"
        "footer";
      grid-template-rows: 100px 85px 1fr 1px 80px;
      grid-template-columns: 1fr;
   }
   h2{
    margin-top: 8px;
   }
   ul {
    height:30px;
    width: auto;
   }
   .input_m {
    width: 65px;
    height: 20px;
  }
  .input_s {
    width: 40px;
    height: 20px;
  }

   #pageHeader {
    grid-area: header;
    position: sticky;
    display: grid;
    grid-template-areas:
    "banner"
    "login";
    grid-template-rows: 50px 50px;
    top: 0;
    z-index:2;
    background-size:100% 100px;
    height: 100px;
  }
    .banner {
      grid-area: banner;
      position:relative;
      top:0px;

    }
  .login { 
    grid-area: login;
    padding-top: 0px;
    }

    #stocks {
      grid-area: stocks;
      display: grid;
      grid-template-areas:
      "stock_main"
      "stock_movs";
        grid-template-columns: 1fr;
      grid-template-rows: auto 1px;

      text-align: center;
      background: rgb(198, 210, 198);
      gap: 3rem;
      padding:8px;
      }

  .stock_main{
    grid-area: stock_main;
    display: grid;
    grid-template-areas:
    "title"
    "items";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    top: 0;
    font-size: 11px;
    height: auto;
  }

  .title{
    border-bottom: 2px solid rgba(0, 0, 255, 0.565); 
    height:auto;
    font-size: 10px; 
    font-family: monospace;
    padding: 1px; 
    text-align: center;
  }

  .items{
    grid-area: items;
    display: grid;
      grid-template-columns: auto auto auto;
    top: 0;
    font-size: 12px;
    height: auto;
    text-align: left;
  }

  .item_pekan{
    padding: 20px;
    font-size: 11px;
    height: auto;
  }



   #mainArticle {
    grid-area: article;
    top:0px;
    height: max-content;

    .grid_main_public {
      display: grid;
      grid-template-areas:
      "header_flex"
      "article2";
      grid-template-rows: auto 1fr;
      gap: 1rem;
    }

    .grid_publicaciones {
      margin-left: 5px;
    }

    header_flex, article2 {
      padding: 0px;
      background: #EAEAEA;
      }

    }

    #mainNav {
      grid-area: nav;
      height:2px;
      background: rgb(198, 210, 198);
      }


    #publicArticleHome {
      grid-area: article2;
      display: grid;
      grid-template-areas:
      "intro"
      "links"
      "destacados"
      "jornadas"
      "clima"
      "new";
      grid-template-rows: 1fr 120px 120px 120px;
      grid-template-columns: 1fr;
      gap: 8px;
        padding: 0px;
        margin: 4px;
      }

      #publicArticleHome > div {
        background-color: rgba(128, 128, 128, 0.144);
        text-align:center;
        padding: 10px 0;
        border:2px solid rgb(63, 156, 156);
        border-radius: 5px;
      }
    
      .f_login {
        font-size: 13px;
        background: #1a181878;
        padding-top: 4px;
        padding-bottom: 4px;
        width: max-content;
        color: white;
        font-family: monospace;
        top: 10px;
        position: relative;
        border-radius: 12px;
      }

  .td_find {
    border-radius: 15px;
    border: 2px solid olive;
      }
      li a, .dropbtn {
        display: inline-block;
        text-align: center;
        padding: 8px 14px;
        font-size: 13px;
        color: #f8fffc;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
      }
      .td_find {
        border-radius: 15px;
        border: 2px solid #97b497;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #c6d2c6ae;
        text-align: center;
        width: 50px;
        }
      .input_busca {
        width: 50px;
        border: 0px;
        background-color: transparent;
        font-weight: bold;
      }

  }